<%= form_with(model: outfit, local: true) do |form| %>
    <% if outfit.errors.any? %>
        <div id="error_explanation1">
        <h2><%= pluralize(outfit.errors.count, "件") %> の項目を入力してください</h2>
        <ul>
          <% outfit.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
 <div class="cover-new">
  <div class="container mx-auto" style="width: 220px;">
  <form>
    <div class="field">
        <%= form.label :タイトル %>
        <%= form.text_field :title, :placeholder => "タイトルを入力" %>
    </div>

    <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, :size=>"60x60",:placeholder => "詳細を入力" %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <p><%= form.file_field :image, autofocus: false %></p>
      <p><%= form.hidden_field :image_cache %></p>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
   <% end %>
  </form>
  </div>
 </div>
</div>
