<div class="card-deck">
  <div class="card mb-4">
    <%= link_to outfit_path(outfit) do %><%= image_tag outfit.image.variant(resize: "200x200"), class: "bd-placeholder-img card-img-top", style: "width=25%, height=200, focusable=false" %><% end %>
    <div class="card-body">
      <h5 class="card-title"><%= outfit.title %></h5>
      <p class="card-text"><%= outfit.content %></p>
      <p class="card-text">
        <small class="text-muted">
          <% if current_proposer.nil? && current_user.liked_by?(outfit.id) %>
            <%= link_to destroy_like_path(outfit), class: "like-link", method: :DELETE, remote: true do %>
              <i class="fa fa-heart unlike-btn"></i>
            <% end %>
            <%= outfit.likes.count %>
          <% else %>
            <%= link_to create_like_path(outfit), class: "like-link", method: :POST, remote: true do %>
              <i class="fa fa-heart like-btn"></i>
            <% end %>
            <%= outfit.likes.count %>
          <% end %>
        </small>
      </p>
      <p class="card-text"><%= outfit.proposer.name %></p>
      <p class="card-text">
        <% if current_proposer == outfit.proposer %>
        <%= link_to 'Edit', edit_outfit_path(outfit) %>
        <%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
    </div>
  </div>
</div>