<div class="card-deck">
  <div class="card mb-3">
    <% if outfit.image.attached? %>
      <%= link_to outfit_path(outfit) do %><%= image_tag outfit.image.variant(resize: "150x200"), class: "bd-placeholder-img card-img-top", style: "width=25%, height=200, focusable=false" %><% end %>
    <% end %>
    <div class="card-body">
      <p class="card-text">
        <small class="text-muted">
          <% if current_proposer.nil? && current_user.liked_by?(outfit.id) %>
            <%= link_to destroy_like_path(outfit), class: "like-link", method: :DELETE, remote: true do %>
              <i class="fa fa-heart unlike-btn"></i>
            <% end %>
            <%= outfit.likes.count %>
          <% else %>
            <%= link_to create_like_path(outfit), class: "like-link", method: :POST, remote: true do %>
              <i class="fa fa-heart like-btn"></i>
            <% end %>
            <%= outfit.likes.count %>
          <% end %>
        </small>
      </p>
      <p class="card-text"><%= outfit.title %></p>
      <p class="card-text"><%= outfit.proposer.name %></p>
    </div>
  </div>
</div>