<div class="card-deck">
  <div class="card md-4 mb-3">
    <%= image_tag @outfit.image.variant(resize: '200x200') %>
    <div class="card-body">
      <div class="stock_button">
        <% if user_signed_in? %>
          <% if @stock.present? %>
            <%= link_to 'お気に入り解除する', stock_path(id: @stock.id), method: :delete%>
          <% else %>
            <%= link_to 'お気に入りする', stocks_path(outfit_id: @outfit.id), method: :post%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card h-75">
    <div class="card-body text-left ">
            
      <p class="card-text">
        <strong>Title:</strong><%= @outfit.title %>
      </p>
      <hr>
      <p class="card-text">
        <strong>Content:</strong><%= @outfit.content %>
      </p>
      <hr>
      <p class="card-text">
        <%= @outfit.created_at.strftime("%Y-%m-%d %H:%M") %>
      </p>
      <hr>
      <% if proposer_signed_in? %>
      <p class="card-text">
      <% if current_proposer%>
        <%= link_to '編集', edit_outfit_path(@outfit) %> | <%= link_to '削除', @outfit, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      <% end %>
        <p><%= link_to '戻る', outfits_path %></p>
      </p>
      <% end %>
    </div>
  </div>
</div>



