
  <div class="box">
    <div id="overlay">
       <% if @proposer.avatar.attached? %>
        <div class="avatar_image"><%= image_tag @proposer.avatar.variant(resize: '200x200')%></div>
        <% end %> 
        <div class="trick">
      </div><br><br><br><br>
      <ul class="text"><%= @proposer.name %></ul>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading " role="tab" id="headingOne">
      <h4 class="panel-title ">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <div class="title  btn btn-danger btn-outline btn-lg">Profile</div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <p><%= @proposer.profile %></p>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class="title btn btn-danger btn-outline btn-lg">SOCIAL</div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Walter has been building websites for years. He enjoys making unique websites and web projects. His hobbies include photography, woodworking, leatherworking, fishing, and mid century modern furniture.
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div class="title btn btn-danger btn-outline btn-lg">CONTACT</div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        
        
                  <form id="form" class="topBefore">
            <input id="name" type="text" placeholder="NAME">
            <input id="email" type="text" placeholder="E-MAIL">
            <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
            <input id="submit" type="submit" value="Submit Now!">
          </form>
        
        
        
        
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card-deck">
  <div class="card mb-3">
    <div class="row"> 
        <% @myoutfits.each do |outfit| %>
       <div class="col-xs-11 col-sm-5 col-md-4 col-lg-3" id="outfit_<%= outfit.proposer_id %>">
        <div class="card-body">
        <p><%= outfit.proposer.name %></p>
        </div>
        <% if proposer_signed_in? %>
        <p><%= link_to outfit_path(outfit) do %><%= image_tag outfit.image.variant(resize: "150x200"), class: "bd-placeholder-img card-img-top", style: "width=25%, height=200, focusable=false" %><% end %></p>
      </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>